<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="Tests/TestBootstrapper.php"
    colors="true"
    stopOnFailure="false">

    <testsuites>
      <testsuite name="Entirety">
        <directory>./Tests/</directory>
      </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./Source/</directory>
            <exclude>
                <directory>./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>   
</phpunit>
