<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Tests/TestBootstrapper.php" colors="true" backupGlobals="false" stopOnFailure="false" beStrictAboutTestsThatDoNotTestAnything="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./Source/</directory>
    </include>
    <exclude>
      <directory>./vendor/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Entirety">
      <directory>./Tests/Integration/</directory>
    </testsuite>
    <testsuite name="Analysis">
      <directory>./Tests/Integration/Analysis/</directory>
    </testsuite>
    <testsuite name="Caching">
      <directory>./Tests/Integration/Caching/</directory>
    </testsuite>
    <testsuite name="Functions">
      <directory>./Tests/Integration/ExpressionTrees/</directory>
      <directory>./Tests/Integration/Expressions/</directory>
      <directory>./Tests/Integration/Parsing/</directory>
    </testsuite>
    <testsuite name="Providers">
      <directory>./Tests/Integration/Providers/</directory>
      <directory>./Tests/Integration/Queries/</directory>
    </testsuite>
    <testsuite name="API">
      <directory>./Tests/Integration/Traversable/</directory>
      <directory>./Tests/Integration/Collection/</directory>
    </testsuite>
    <testsuite name="Traversable">
      <directory>./Tests/Integration/Traversable/</directory>
    </testsuite>
    <testsuite name="Collection">
      <directory>./Tests/Integration/Collection/</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="Pinq\Tests\Timer"/>
  </extensions>
</phpunit>
