<div class='buttons'>
    <iframe src="http://ghbtns.com/github-btn.html?user={{ site.data.repo.user }}&repo={{ site.data.repo.name }}&type=watch&count=true" 
            height="20" width="100" frameborder="0" scrolling="0" style="width:90px; height: 20px;" allowTransparency="true"></iframe>

    <iframe src="http://ghbtns.com/github-btn.html?user={{ site.data.repo.user }}&repo={{ site.data.repo.name }}&type=fork&count=true" 
            height="20" width="100"  style="width:90px; height: 20px;" allowTransparency="true"></iframe>
    
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="PINQ - PHP Integrated query" data-hashtags="php">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    <a href="https://twitter.com/Time_Toogo" class="twitter-follow-button" data-show-count="false">Follow @Time_Toogo</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>